/***** ROOT *****/

html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-height: 100%;
	touch-action: pan-x pan-y;
}

.smooth {
	scroll-behavior: smooth;
}

body {
	background: #7E6363;
    color: #CAA6A6;
    -webkit-font-smoothing: subpixel-antialiased;
	font-size: 1rem;
	font-weight: 400;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.75;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	display: block;
	height: 100%;
	min-height: 600px;
	min-width: 320px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
	display: block;
    width: 100%;
    height: 100%;
}

section {
	position: relative;
    display: block;
}

section:not(:nth-child(1)) {
	height: auto;
    min-height: auto;
}

section .outer {
	display: flex;
    position: absolute;
    z-index: -10;
    width: 100%;
}

section:not(:nth-child(1)) .outer {
	height: 100%;
}

section .outer .head-back,
section .outer .content-back {
	display: block;
    position: relative;
    width: 50%;
    background: #503C3C;
}

section .outer .content-back {
    background: #7E6363;
}

section:nth-child(even) .outer .head-back {
    background: #3E3232;
}

section:nth-child(even) .outer .content-back {
    background: #503C3C;
}

section .inner {
	display: flex;
    max-width: 1276px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

section .inner .head {
	background: #503C3C;
    width: 30%;
    display: block;
    position: relative;
}

section .inner .content {
	background: #7E6363;
    width: 70%;
    display: block;
    position: relative;
}

section:nth-child(even) .inner .head {
	background: #3E3232;
}

section:nth-child(even) .inner .content {
	background: #503C3C;
}

section:not(:nth-child(1)) .inner .head .wrapper {
	width: 60%;
    margin: 0 auto;
    position: relative;
    display: block;
    text-align: right;
	padding: 40px 0px;
}

section h2 {
	color: #C08261;
}

section:not(:nth-child(1)) .inner .head .wrapper h2 {
	font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
	margin: 0px;
}

section:not(:nth-child(1)) .inner .content .wrapper {
	width: calc(100% - 140px);
    margin: 0;
    position: relative;
    padding: 40px 70px;
}

p a {
	  color: #332929;
    text-decoration: none;
    font-weight: bold;
}

#sentmodal {
	background: #3E3232;
    text-align: center;
    display: block;
    position: fixed;
    top: -50px;
    left: calc(50% - 25%);
    z-index: 10;
    width: 50%;
    border-radius: 5px;
    border: 3px solid #C08261;
    padding: 10px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 13px;
    color: #A87C7C;
    font-weight: 800;
	transition: all .15s linear;
	opacity: 0;
}

#sentmodal.show {
    top: 5%;
	opacity: 1;
}

.highlight {
	color: #C08261;
}

.grecaptcha-badge { 
	visibility: hidden; 
}

/***** HEADER *****/

section.header,
section.header .outer,
section.header .inner {
	height: 100%;
}

section.header .inner .head {
    display: inline-block;
    float: left;
}

section.header .inner .head .avatar {
	border-radius: 50%;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: calc(50% - 117px);
    display: block;
	border: 5px solid #A87C7C;
}

section.header .inner .content {
	display: inline-block;
    float: left;
}

section.header .inner .content .wrapper {
	width: calc(100% - 140px);
    margin: 0;
    position: relative;
    top: calc(52% - 107px);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0px 70px;
}

section.header .inner .content .wrapper h1 {
	font-size: inherit;
    margin-block-start: inherit;
    margin-block-end: inherit;
    display: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
    font-weight: inherit;
}

section.header .inner .content .wrapper .first {
	display: block;
    position: relative;
    width: 100%;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #FFE7E7;
    font-size: 4.5rem;
    line-height: 0.99;
    text-transform: uppercase;
}

section.header .inner .content .wrapper .last {
	display: block;
    position: relative;
    width: 100%;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #A87C7C;
    font-size: 4.5rem;
    line-height: 0.7;
}

section.header .inner .content .wrapper .tag {
	display: block;
    position: relative;
    width: 100%;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #C08261;
    font-size: 17px;
    line-height: 4em;
    padding-left: 5px;
	white-space: nowrap;
    text-transform: uppercase;
}

section.header .inner .content .wrapper .cta {
	position: relative;
    display: block;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	z-index: 3;
}

section.header .inner .content .wrapper .cta ul {
	display: block;
    margin: 0px;
    padding-left: 5px;
}

section.header .inner .content .wrapper .cta ul li {
	margin-left: 0;
    padding: 0;
    list-style: none;
    margin-right: 6px;
	display: inline-block;
    float: left;
}

section.header .inner .content .wrapper .cta ul li a {
	display: block;
    text-align: center;
    border: 2px solid;
    width: 32px;
    height: 32px;
    font-size: 1rem !important;
    line-height: 2rem !important;
    border-radius: 4px;
    background: #503C3C;
    border: 2px solid #C08261;
	transition: all .15s linear;
	cursor: pointer;
}

section.header .inner .content .wrapper .cta ul li a i {
	color: #C08261;
}

section.header .inner .content .wrapper .cta ul li a.rvrz {
	background-image: url(../img/rvrz-orange.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
}

section.header .inner .content .wrapper .scroll {
	position: relative;
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 100px;
}

section.header .inner .content .wrapper .scroll a {
	color: #C08261;
    text-decoration: none;
    font-size: 2em;
    line-height: 1em;
	transition: all .15s linear;
}

/***** INTRO *****/

section.intro .inner .head .wrapper {
	width: 60%;
    margin: 0 auto;
    position: relative;
    display: block;
    text-align: right;
	padding: 40px 0px;
}

section.intro .inner .head .wrapper h2 {
	font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

section.intro .inner .content .wrapper {
	width: calc(100% - 140px);
    margin: 0;
    position: relative;
    padding: 40px 70px;
	font-size: 16px;
}

section.intro .inner .content .wrapper p:first-child {
	color: #332929;
}

section.intro .inner .content .wrapper p {
	color: #cbc0c0;
}

/***** EXPERTISE *****/

section.expertise .content .wrapper .item {
	display: block;
    position: relative;
    width: 100%;
}

section.expertise .content .wrapper .item .title {
	font-weight: 600;
    color: #FFE7E7;
	font-size: 17px;
}

section.expertise .content .wrapper .item .title .heading {
	color: #CAA6A6;
    margin-left: 15px;
    text-transform: uppercase;
}

section.expertise .content .wrapper .item p {
	font-size: 16px;
    padding: 0px;
    margin: 0px 0px 20px 35px;
	color: #B47B84;
}

section.expertise .content .wrapper .item:last-child p {
    margin-bottom: 0px;
}

/***** SKILLS *****/

section.skills .content .wrapper {
	display: inline-block;
}

section.skills .content .wrapper .item {
	display: inline-block;
	float: left;
    position: relative;
    width: 50%;
}

section.skills .content .wrapper .item .title {
	font-weight: 600;
    color: #FFE7E7;
	width: 100%;
	display: block;
	font-size: 17px;
}

section.skills .content .wrapper .item .title .heading {
	  color: #332929;
    margin-left: 15px;
    text-transform: uppercase;
	  font-size: 15px;
}

section.skills .content .wrapper .item .bar {
	width: 90%;
	background: #3E3232;
	display: block;
	height: 3px;
	margin: 10px 0px 20px 0px;
}

section.skills .content .wrapper .item:last-child .bar {
	margin-bottom: 0px;
}

section.skills .content .wrapper .item .bar .progress {
	background: #A87C7C;
    height: 100%;
	width: 80%;
	display: block;
}

/***** EXPERIENCE & EDUCTAION *****/

section.experience .content .wrapper {
	padding: 0px !important;
    border-left: 3px solid #3E3232;
    margin: 40px 70px 0px 70px !important;
}

section.education .content .wrapper {
	padding: 40px 0px 0px 0px !important;
    border-left: 3px solid #3E3232;
    margin: 0px 70px 40px 70px !important;
}

section.experience .content .wrapper .item,
section.education .content .wrapper .item {
	display: block;
	position: relative;
    margin-left: 20px;
	padding-bottom: 25px;
}

section.experience .content .wrapper .item:last-child,
section.education .content .wrapper .item:last-child {
	padding-bottom: 0px;
}

section.experience .content .wrapper .item .dot,
section.education .content .wrapper .item .dot {
	background: #A87C7C;
    box-shadow: 0 0 0 6px #3E3232;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -26px;
    top: 5px;
    border-radius: 50%;
}

section.experience .content .wrapper .item .timeframe,
section.education .content .wrapper .item .timeframe {
	opacity: .6;
    font-size: 0.7rem;
    font-weight: 500;
    display: block;
}

section.experience .content .wrapper .item .company,
section.education .content .wrapper .item .company {
	font-size: 1.2rem;
    line-height: 1.45;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 4px 0px;
}

section.experience .content .wrapper .item .company a,
section.education .content .wrapper .item .company a {
	color: inherit;
    text-decoration: none;
}

section.experience .content .wrapper .item .jobtitle,
section.education .content .wrapper .item .jobtitle {
	font-size: 0.8rem;
    font-weight: 500;
    color: #FFE7E7;
    display: block;
}

section.experience .content .wrapper .item .description,
section.education .content .wrapper .item .description {
	font-size: 16px;
    padding: 0px;
    margin-bottom: 20px;
	color: #B47B84;
}

section.experience .content .wrapper .item:last-child .description,
section.education .content .wrapper .item:last-child .description {
	margin-bottom: 0px;
	padding-bottom: 40px;
}

section.education .content .wrapper .item:last-child .description {
	padding-bottom: 60px;
}

section.education .content .wrapper .item:last-child .foot {
	background: #3E3232;
    height: 3px;
    width: 20px;
    position: absolute;
    left: -31px;
    bottom: 0px;
}

/***** CONTACT *****/

section.contact .content .wrapper input,
section.contact .content .wrapper textarea {
    width: calc(50% - 34px);
    display: block;
    background: #3E3232;
    color: #CAA6A6;
    font-size: 0.9rem;
    padding: 15px;
    border: 2px solid #CAA6A6;
    outline-color: #CAA6A6;
    border-radius: 5px;
    margin-bottom: 20px;
}

section.contact .content .wrapper input::placeholder,
section.contact .content .wrapper textarea::placeholder {
  opacity: 0.5;
  color: #C08261;
}

section.contact .content .wrapper textarea {
	width: calc(100% - 34px);
	min-width: calc(100% - 34px);
	max-width: calc(100% - 34px);
	height: 50px;
	min-height: 30px;
	max-height: 200px;
	font-size: 1rem;
    font-weight: 400;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.75;
}

section.contact .content .wrapper button {
	width: 25%;
    display: block;
    background: #7E6363;
    color: #CAA6A6;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: 15px;
    border: 2px solid #CAA6A6;
    outline-color: #CAA6A6;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all .15s linear;
    cursor: pointer;
    text-transform: uppercase;
}

section.contact .content .wrapper .disclaimer {
	font-size: 12px;
    font-style: italic;
}

section.contact .scroll {
	position: absolute;
    display: block;
    right: 50px;
    bottom: 50px;
    z-index: 5;
}

section.contact .scroll a {
	color: #C08261;
    text-decoration: none;
    font-size: 2em;
    line-height: 1em;
	transition: all .15s linear;
}

/***** FOOTER *****/

section.footer {
	border-top: 2px solid #C08261;
	color: #FFE7E7;
}

section.footer .inner {
	display: block;
    width: auto;
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px;
    text-align: center;
    font-weight: 600;
	word-spacing: 1px;
}

section.footer .inner .name {
	color: #CAA6A6;
}

/***** ANIMATIONS *****/

.fade-in-up {
    animation-name: fade-in-up;
	animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-animation-name: fade-in-up;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both
}

.fade-in-up.first {
    animation-name: fade-in-up;
	animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-name: fade-in-up;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

@keyframes fade-in-up {
    from {
        transform: translate3d(0,40px,0);
		opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-up {
    from {
        transform: translate3d(0,40px,0);
		opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

/***** MEDIA QUERIES *****/

@media (max-width: 1400px) {
	section.header .inner .content .wrapper {
		top: calc(52% - 125px);
	}

	section.header .inner .content .wrapper .first {
		font-size: 4rem;
	}

	section.header .inner .content .wrapper .last {
		font-size: 4rem;
	}

	section.header .inner .content .wrapper .tag {
		line-height: 3em;
		padding: 0px;
	}

	section.header .inner .content .wrapper .cta {
		top: calc(70% - 125px);
	}
}

@media (max-width: 1024px) {
	section:not(:nth-child(1)) .inner .head .wrapper {
		width: 70% !important;
		text-align: left !important;
		padding: 20px 0px !important;
	}
	
	section:not(:nth-child(1)) .inner .content {
		margin: 0 auto !important;
	}
	
	section:not(:nth-child(1)) .inner .content .wrapper {
		padding: 40px 0px;
		width: 100%;
	}
	
	section .outer .head-back {
		display: none;
	}
	
	section .outer .content-back {
		width: 100%;
	}
	
	section .inner {
		display: block;
	}
	
	section .inner .head {
		background: #3E3232 !important;
		width: 100%;
		height: 50%;
	}
	
	section#header .inner .head {
		background: #503C3C !important;
	}
	
	section:not(.header) .inner .head {
		background: #3E3232;
		border-top: 2px solid #C08261;
		border-bottom: 2px solid #C08261;
	}
	
	section.header .inner .head .avatar {
		width: 200px;
		margin-bottom: 40px;
		top: inherit;
		bottom: 0px;
		position: absolute;
		left: calc(50% - 103px);
	}

	section.header .inner .content {
		width: 100%;
		height: 50%;
	}

	section.header .inner .content .wrapper {
		position: relative;
		text-align: center;
		top: 10px;
	}

	section.header .inner .content .wrapper .tag {
		line-height: 6em;
	}

	section.header .inner .content .wrapper .cta {
		position: relative;
		display: block;
		top: 10px;
	}

	section.header .inner .content .wrapper .cta ul {
		position: relative;
		margin: 0 auto;
		width: 170px;
		padding-left: 0px;
	}
	
	section.header .inner .content .wrapper  .scroll
	{
		text-align: center;
	}
	
	section.contact .scroll	{
		right: calc(50% - 18px);
		bottom: 80px;
	}
	
	section.contact .scroll	{
		bottom: 35px;
	}
	
	section.contact .content .wrapper .disclaimer {
		padding-bottom: 60px;
	}
	
	section.experience .inner .content .wrapper {
		padding: 0px 0px !important;
		margin: 40px 0px 0px 0px !important;
	}
	
	section.education .inner .content {
		padding-bottom: 40px;
	}
	
	section.education .inner .content .wrapper {
		margin-left: 0px !important;
		margin-bottom: 0px !important;
		padding-bottom: 0px !important;
	}
	
	section.contact .content .wrapper input {
		width: calc(100% - 34px);
	}
}

@media (max-width: 850px) {
	section.header .inner .head .avatar {
		width: 175px;
		left: calc(50% - 82px);
	}

	section.header .inner .content .wrapper .first {
		font-size: 3.5rem;
		line-height: 0.88;
	}
	
	section.header .inner .content .wrapper .last {
		font-size: 3.5rem;
	}

	section.header .inner .content .wrapper .tag {
		line-height: 5em;
	}
}

@media (max-width: 600px) {
	section.header .inner .head .avatar {
		width: 155px;
		left: calc(50% - 72px);
	}

	section.header .inner .content .wrapper {
		width: 100%;
		padding: 15px 0px;
	}

	section.header .inner .content .wrapper .first {
		font-size: 3rem;
		line-height: 1em;
	}
	
	section.header .inner .content .wrapper .last {
		font-size: 3rem;
		line-height: 0.7em;
	}
	
	section.skills .content .wrapper .item {
		display: block;
		width: 100%;
	}
	
	section.skills .content .wrapper .item .bar {
		width: 100%;
	}
}

@media (max-width: 870px) and (orientation: landscape) {
	section.header {
		padding-bottom: 160px;
	}
}

@media (max-width: 600px) and (orientation: landscape) {
	section.header {
		padding-bottom: 80px;
	}
}

@media (max-width: 400px) {
	section.header .inner .head {
		height: 40%;
	}
}

@media (max-width: 370px) {
	section.header .inner .content .wrapper .tag {
		font-size: 0.9em;
	}
	
	section.header .inner .head {
		height: 235px;
	}
	
	section.header .inner .head .avatar {
		margin-bottom: 10px;
	}
	
	section.header .inner .content {
		height: calc(100% - 200px);
		background: none;
	}
	
	section.header .inner .content .wrapper .scroll {
		padding-top: 85px;
	}
}

@supports not (display: flex) {
	@media (max-width: 600px) {		
		section.header .inner .head .avatar {
			display: block;
			position: absolute;
			top: 55%;
			left: calc(50% - 80px);
		}
	}
}

@media (hover: hover) and (pointer: fine) {
	p a:active,
	p a:hover,
	p a:visited,
	p a:focus,	{
		color: #FFE7E7;
		text-decoration: none;
		font-weight: 500;
	}
	
	section.header .inner .content .wrapper .cta ul li a:active,
	section.header .inner .content .wrapper .cta ul li a:visited,
	section.header .inner .content .wrapper .cta ul li a:focus {
		display: block;
		text-align: center;
		border: 2px solid;
		width: 32px;
		height: 32px;
		font-size: 1rem !important;
		line-height: 2rem !important;
		border-radius: 4px;
		background: #503C3C;
		border: 2px solid #C08261;
		transition: all .15s linear;
		cursor: pointer;
	}

	section.header .inner .content .wrapper .cta ul li a:active i,
	section.header .inner .content .wrapper .cta ul li a:visited i,
	section.header .inner .content .wrapper .cta ul li a:focus i {
		color: #C08261;
	}
	
	section.header .inner .content .wrapper .cta ul li a.rvrz:active,
	section.header .inner .content .wrapper .cta ul li a.rvrz:visited,
	section.header .inner .content .wrapper .cta ul li a.rvrz:focus {
		background-image: url(../img/rvrz-orange.webp);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 15px;
	}
	
	section.header .inner .content .wrapper .cta ul li a:hover {
		border-color: #FFE7E7;
	}

	section.header .inner .content .wrapper .cta ul li a:hover i {
		color: #FFE7E7;
	}

	section.header .inner .content .wrapper .cta ul li a.rvrz:hover {
		background-image: url(../img/rvrz-white.webp);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 15px;
	}
	
	section.header .inner .content .wrapper .scroll a:active,
	section.header .inner .content .wrapper .scroll a:focus,
	section.header .inner .content .wrapper .scroll a:visited,
	section.contact .scroll a:active,
	section.contact .scroll a:focus,
	section.contact .scroll a:visited {
		color: #C08261;
		text-decoration: none;
		font-size: 2em;
		line-height: 1em;
		transition: all .15s linear;
	}
	
	section.header .inner .content .wrapper .scroll a:hover,
	section.contact .scroll a:hover	{
		color: #FFE7E7;
	}
	
	section.experience .content .wrapper .item .company a:active,
	section.experience .content .wrapper .item .company a:focus,
	section.experience .content .wrapper .item .company a:visited,
	section.education .content .wrapper .item .company a:active,
	section.education .content .wrapper .item .company a:focus,
	section.education .content .wrapper .item .company a:visited {
		color: inherit;
		text-decoration: none;
	}
	
	section.experience .content .wrapper .item .company a:hover,
	section.education .content .wrapper .item .company a:hover {
		color: #C08261;
	}
	
	section.contact .content .wrapper button:active,
	section.contact .content .wrapper button:focus,
	section.contact .content .wrapper button:visited {
		width: 25%;
		display: block;
		background: #404242;
		color: #C08261;
		font-size: 0.9rem;
		font-weight: 600;
		letter-spacing: 0.2px;
		padding: 15px;
		border: 2px solid #C08261;
		outline-color: #C08261;
		border-radius: 5px;
		margin-bottom: 20px;
		transition: all .15s linear;
		cursor: pointer;
		text-transform: uppercase;
	}
	
	section.contact .content .wrapper button:hover {
		background: #7E6363;
		color: #C08261;
		border-color: #C08261;
		outline-color: #C08261;
	}
}
	